<nav class="navbar navbar-expand-lg bg-gradient  rounded">
    <div class="container">
      <a class="navbar-brand fw-bold " href="#">🏡 MyApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link   px-4 rounded-pill" routerLink="residence" routerLinkActive>
              🏠 Residences
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link  px-4 rounded-pill" routerLink="produit" routerLinkActive>
              📦 Produits
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link   px-4 rounded-pill" routerLink="login" routerLinkActive>
               login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link   px-4 rounded-pill" routerLink="addProduit" routerLinkActive>
               addProduct
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  
  
  